%div.container-fluid.mt-3.mb-3.text-center.col-6
  %h2 Edit topic:

  = render 'form', topic: @topic

%div.container.text-center.mb-3
  = link_to 'Show', @topic, class: "btn btn-primary"
  |
  = link_to 'Back', topics_path, class: "btn btn-primary"
