%div.container
  %div.card.text-center.shadow.rounded.mb-3.mt-3
    %div.card-header.fs-3.fw-bolder
      Edit topic:
    %div.card-body
      = render 'form', topic: @topic
    %div.card-footer
      = link_to 'Show', @topic, class: "btn btn-outline-primary"
      |
      = link_to 'Back', topics_path, class: "btn btn-outline-primary"
