%div{class: "container-fluid mt-3 mb-3 text-center col-6"}
  %h2 New topic:

  = render 'form', topic: @topic

%div{class: "container text-center mb-3"}
  = link_to 'Back', topics_path, class: "btn btn-primary"
