%div{class: "container-fluid mt-3 mb-3 text-center"}
  %h2 New user:

  = render 'form', user: @user

%div{class: "container text-center mb-3"}
  = link_to 'Back', users_path, class: "btn btn-primary"
