%div.container
  %div.card.text-center.shadow.rounded.mb-3.mt-3
    %div.card-header.fs-3.fw-bolder
      New user:
    %div.card-body
      = render 'form', user: @user
    %div.card-footer
      = link_to 'Show', @user, class: "btn btn-outline-primary"
      |
      = link_to 'Back', users_path, class: "btn btn-outline-primary"
