%div.p-1.mt-5.text-center.shadow.rounded-3.border.border-secondary.border-1
  %div.welcome-name
    KK FORUM
  %div.fs-4.fs-bolder
    Forum application template.
  %hr.my-4
  %p
    To get full access signup is needed.
