%div.container
  %div.card.text-center.shadow.rounded.mb-3.mt-3
    %div.card-header.fs-3.fw-bolder
      Edit post:
    %div.card-body
      = render 'form', post: @post, topic_ref: @topic_ref
    %div.card-footer
      = link_to 'Show', @post, class: "btn btn-outline-primary"
      |
      = link_to 'Back', post_path(@post), class: "btn btn-outline-primary"
