%div{class: "container-fluid mt-3 mb-3 text-center col-6"}
  %h2 New post:

  = render 'form', post: @post, topic_ref: @topic_ref

%div{class: "container text-center mb-3"}
  = link_to 'Back', topic_path(@topic_ref), class: "btn btn-primary"
