@import "bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(135,135,135,0.5);
}

#mCont {
  margin: 25% auto;
  z-index: 2;
  min-width: 250px;
  width: 50%;
  padding: 10px;
  border: 3px solid red;
  border-radius: 1em;
}

#logo {
  float: left;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 1) !important;
}

.dropdown-menu {
  width: 100%;
}

.welcome-name {
  margin: 25% auto;
  min-width: 200px;
  width: 50%;
  font-size: 3em;
  color: #888;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.custom-pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.custom-pagination a, .custom-pagination span, .custom-pagination em {
  padding: 0.2em 0.5em;
  margin: 0.15em;
  display: inline-block;
}
.custom-pagination .disabled {
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
}
.custom-pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #0d6efd;
  color: white;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
}
.custom-pagination a {
  text-decoration: none;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
}
.custom-pagination a:hover, .custom-pagination a:focus {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 0.25rem;
}
