%div{class: "container-fluid mt-3 mb-3 text-center"}
  %h2 New category:

  = render 'form', category: @category

%div{class: "container text-center"}
  = link_to 'Back', categories_path, class: "btn btn-primary"
