%div.container
  %div.card.text-center.shadow.rounded.mb-3.mt-3
    %div.card-header.fs-3.fw-bolder
      New category:
    %div.card-body
      = render 'form', category: @category
    %div.card-footer
      = link_to 'Back', categories_path, class: "btn btn-outline-primary"
