<footer class="py-4 bg-dark text-white" id="sticky-footer">
  <div class="container text-center">
    <small>
      Copyright &copy;
      <%= link_to 'Krzysztof Kiec', 'https://github.com/KKIEC', class: 'text-white' %>
    </small>
  </div>
</footer>
