<div id="myModal">
  <div id="mCont" class="alert alert-danger fade show text-center">
    <div class="alert-heading">
      <strong>CONFIRMATION REQUIRED</strong>
    </div>
    <div>
      <p>Do you want permanent destroy this object?</p>
    </div>
    <div>
      <button id="btnYes" class="btn btn-danger">Destroy</button>
      <button id="btnNo" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>
